<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creapple.cafe_manager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cafe_manager"
        android:usesCleartextTraffic="true">
        <activity android:name=".Time_clicked"></activity>
        <activity android:name=".Employee_clicked" />
        <activity android:name=".ManagementActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".FindingActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".InventoryMainActivity" />
        <activity android:name=".SettingNoticeActivity" />
        <activity android:name=".SettingInfoActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".ChangeInfoActivity" />
        <activity
            android:name=".PopupActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".UpdateActivity"/>

        <activity android:name=".OrderMainActivity"/>
        <activity android:name=".OrderFinalActivity"
            android:parentActivityName=".OrderMainActivity"/>
        <activity android:name=".OrderCheckActivity"/>
        <activity android:name=".OrderCheckDetailActivity"/>
        <activity android:name=".TimeAll" />
        <activity android:name=".TimeDetailActivity" />
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".FirstActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmRecevier"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>